{
	"branches": [
		"main"
	],
	"private": true,
	"successComment": false,
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/github",
			{
				"assets": [
					{
						"path": "dist",
						"name": "some-name",
						"label": "Build"
					}
				]
			}
		]
	]
}
